.checklist-create{
    display: flex;
    /* justify-content: space-between; */
    gap:2em;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
    text-align: center;
    /* height: 100px; */
    padding: 1em;
    
}
.checklist-input{
    max-width: 100%;
    padding: .6em;
    border-radius: 5px;
    margin-bottom:.3em;
    font-size:.95rem;
    outline: none;
    /* border: none; */
    padding-left: .6em;
    border-color:#0079BF;
}

.checklist-add-btn{
    background-color: #0079BF;
    border: none;
    color: white;
    padding: .5em 1.4em;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 1em;
    cursor: pointer;
    
}
.checklist-add-btn:hover{
  background-color: #026AA7;
}

.checklist-cancel-btn{
    background-color: #0079BF;
    border: none;
    color: white;
    padding: .5em 1.4em;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 1em;
    cursor: pointer;
    

}

.checklist-cancel-btn:hover{
    background-color: #026AA7;
}

